.calendar-card {
  background: var(--card-color);

  border-radius: var(--radius);

  box-shadow: var(--shadow);

  padding: 24px;

  height: fit-content;
}

.calendar-card h2 {
  margin-bottom: 20px;

  color: var(--text-primary);

  font-size: 1.4rem;
}

/* ===========================
   Personalización
=========================== */

.react-calendar {
  width: 100%;

  border: none;

  font-family: inherit;

  background: transparent;
}

.react-calendar__navigation button {
  color: var(--text-primary);

  font-weight: 700;
}

.react-calendar__tile {
  border-radius: 8px;

  transition: .2s;
}

.react-calendar__tile:hover {
  background: rgba(255, 75, 43, .15);
}

.react-calendar__tile--active {
  background: linear-gradient(
      to right,
      var(--primary),
      var(--secondary)
  );

  color: white;
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;

  font-size: .8rem;

  color: var(--text-secondary);
}